	<h2 id="<%= jsontitle + 'delete' %>">Delete <%= jsontitle %></h2>     <!--  prints each subtitle on the html --> 

    <p>A Carreta Furacão é um grupo que viaja com o Trenzinho da Alegria, que é 
    uma carreta pintada, pelas ruas do Brasil mais especificamente de Ribeirão Preto, 
    e são os maiores causadores de acidentes, ao menos entre eles, já que sempre 
    um ou outro se machuca.
    <br><br>
    Eles fazem isso todos os dias. A Carreta Furacão é o Esquadrão Suicida brasileiro, 
    mas nem precisa de colar explosivo para alguém morrer. Em vez de Arlequina é o 
    Bozo, e até o Capitão América fazendo esse papel de guerrilheiro suicida devido 
    à crise nos Estados Unidos.</p>     <!-- display the description --> 